html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
}

.container {
    max-width: 100%;
    width: 70%;
    box-sizing: border-box;
    background-color: white;
}


/* Header Section */

.button {
    height: fit-content;
    width: fit-content;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.25rem;
    background-color: white;
    border: none;
    cursor: pointer;
    padding: 0;
}

.navigation {
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

#header-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1%;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media img {
    max-width: 100%;
}

#plane-logo {
    max-width: 100%;
    margin-right: 3%;
}


/* Contact Me Form */

#contact-me {
    padding-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1 {
    font-family: 'Quicksand', sans-serif;
    font-size: 2.0rem;
    font-weight: 500;
    margin-top: 5%;
}

.location-contact-info, #copyright {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
}

.text {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.0rem;
    font-weight: 500;
}

.submission {
    border: 1px dashed black;
    padding: 1% 5% 1% 5%;
    border-radius: 6%;
}


/* Footer Section */

#copyright {
    margin: 12% 0% 0% 5%;
}

